body{
    /* background-color: #13072E; */
    background-image: url(Images/bg-image3.png);
    font-family:'Poppins', Poppins, monospace;
    background-size: 100vw 100vh;
}

#sitelogo{
  width: 3em;
  height: 3em;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    color: white;
}

header h1 {
    display: flex;
    align-items: center;
    color:#DA2032;
}

h1 img {
    margin-right: 10px; 
}

/*Designing Nav bar*/
nav ul {
    list-style: none;
    display: flex;
    gap: 20px; 
    margin: 0;
    padding: 0;
    font-size:1.3em;
}

nav ul li a {
  text-decoration: none; 
  color: white; 
}

nav ul li a:hover {
  border-bottom: 2px solid #DA2032; 
}


/*About section*/
.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myphoto img{
  width: 70%;
  height: 70%;
  margin-left: 10em;
}

.intro h1{
  color:white;
}

#red{
  color:#DA2032;
}



