*{
  scroll-behavior: smooth;
  color-scheme: dark;
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
  background-image: url(Images/bg-image3.png);
  background-size: cover;
  margin: 0;
  padding: 0;
  color:white;
}

main{
  font-size: 1.2em;
}

#sitelogo {
  width: 3em;
  height: 3em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

header h1 {
  display: flex;
  align-items: center;
  color: #DA2032;
  
}

main h1{
  font-weight: 800;
  font-size: 3em;
}
h1 img {
  margin-right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  border-bottom: 2px solid #DA2032;
}


.home {
  padding: 100px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; 
}

.intro {
  flex: 1;
  color: white;
  text-align: left; 
  padding-right: 20px; 
}

.myphoto {
  flex: 1;
  text-align: right; 
}

.myphoto img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#red {
  color: #DA2032;
}


/*About me section*/
.about {
  padding: 6.5% 6.5%; 
}

.about-me {
  max-width: 800px;
}

.about-me h2 {
  color: white;
  border-bottom: 2px solid #DA2032;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.about-me p {
  color: white;
  line-height: 1.6;
}

.red-btn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.red-btn:hover {
  background-color: #DA2032;
  box-shadow: 0px 15px 20px #ab1524;
  color: #fff;
  transform: translateY(-7px);
}

.red-btn:active {
  transform: translateY(-1px);
}


/*Skills section*/
.card {
  position: relative;
  width: 260px;
  height: 360px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 50px;
  flex-shrink: 0;
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #DA2032;
  transition: all 0.5s;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card:hover::before,
.card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.card:hover:after {
  content: "HELLO";
}

.skills div h2{
  color: white;
  border-bottom: 2px solid #DA2032;
  padding-bottom: 10px;
  margin-bottom: 20px;

}

.skills{
  padding: 6.5% 6.5%;
}

.skills div{
  max-width: 800px;
}

.allcards{
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}


/*form*/
.form {
  flex: 7;
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 20px;
  padding-inline: 2em;
  padding-bottom: 2em;
  background-color: #171717;
  /* background-color: #0a192f; */
  border-radius: 20px;
  
}

.form-heading {
  text-align: center;
  margin: 2em;
  color: #DA2032;
  font-size: 1.3em;
  font-weight: 900;
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  border-radius: 10px;
  padding: 1em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 2em;
  font-size: 1em;
  color: #ccd6f6;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1.3em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #DA2032;
  font-weight: bold;
  font-size: 1em;
  outline: 1px solid #DA2032;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #DA2032;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
  background-image: linear-gradient(163deg, #DA2032 0%, #DA2032 100%);
  border-radius: 22px;
  transition: all 0.3s;
  
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(255, 3, 3, 0.3);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.contact :first-child h2{
  color: white;
  border-bottom: 2px solid #DA2032;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.contact{
  padding: 6.5% 6.5%;
}

.contact-me{
  display: flex;
  justify-content:left;
}

#messagebox {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 6em; 
  color: #ccd6f6;
  padding-inline: 1em;
  resize: none; 
}



/*Social Media */

.social{
  flex:3;
}

ul {
  list-style: none;
}



.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
  padding: 1rem;
}

.example-2 .icon-content .tooltip {
  position: absolute;
  top: 100%;
  right: 110%;
  transform: translateY(200%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="email"] .filled,
.example-2 .icon-content a[data-social="email"] ~ .tooltip {
  background-color: #ff0000;
}


/*footer*/
footer{
  display: flex;
  justify-content: center;
  align-items: center;
}